@charset "UTF-8";

body {
	background-color: #E3FFFF;
}

.errorMessages {
	color: red;
}

.login > label {
	font-size: 16px;
	margine-right: 5px;
	width: 100px;
	float: left;
}

.signup > label {
	font-size: 16px;
	margine-right: 5px;
	width: 160px;
	float: left;
}

.userEdit > label {
	font-size: 16px;
	margine-right: 5px;
	width: 160px;
	float: left;
}

.newPost > label {
	font-size: 16px;
	margine-right: 5px;
	width: 160px;
	float: left;
}

.users {
  	 border-collapse: collaps;
  	 width: 500px;
	}
.users th, .users td {
	 border: 1px solid black;
	 text-align: center;
}